<a href="https://colab.research.google.com/github/Arnob-Mitra/Task/blob/master/Project2_ML_Discission_Tree_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files 
files.upload()

Saving male female.csv to male female.csv

{'male female.csv': b'height,weight,shoe size,gender\r\n181,80,44,male\r\n177,70,43,female\r\n160,60,38,female\r\n154,54,37,female\r\n166,65,40,male\r\n190,90,47,male\r\n175,64,39,male\r\n171,75,42,female\r\n185,85,43,female\r\n169,71,42,male\r\n'}

In [2]:
import pandas as pd
from sklearn import tree

In [3]:
df = pd.read_csv('male female.csv')

In [4]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [5]:
x = df.iloc[:,:-1]

In [6]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [7]:
y = df.iloc[:,3]

In [8]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [9]:
classify = tree.DecisionTreeClassifier()

In [10]:
classify = classify.fit(x,y)

In [13]:
pred = classify.predict([[181,80,44]])

In [14]:
pred

array(['male'], dtype=object)

In [15]:
pred = classify.predict([[150,70,11]])

In [16]:
pred

array(['male'], dtype=object)

In [26]:
pred1 = classify.predict([[200,44,42]])

In [27]:
pred1

array(['female'], dtype=object)

In [28]:
pred2 = classify.predict([[172,74,42]])

In [29]:
pred2

array(['female'], dtype=object)